{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Orion</title>
  <!--Invoca a CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!--Barra de navegación-->
<nav style="background-color: #e6e9ef;">

 <ul class="nav nav-fill">
   <li class="nav-item">
     <a href="/home/">
       <div id="milogo">
          <img border="0" alt="Orion" src="https://k61.kn3.net/B/4/1/1/8/7/288.png" width="150" height="75">
        </div>
     </a>

   </li>

    <li class="nav-item">
      <a id="botonactivo" style="background-color:#1976d2; color: white;"class="nav-link active" href="#">Home<center><i class="material-icons">home</i></center><span class="sr-only">(current)</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/subir">Subir<center><i class="material-icons">add_a_photo</i></center></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">Buscar<center><i class="material-icons">search</i></center></a>
    </li>
    <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mi cuenta
        </a>
        <div id="funcionapls" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/perfil/">Perfil</a>
          <a class="dropdown-item" href="#">Amigos</a>
          <a class="dropdown-item" href="#">Opciones</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/">Cerrar sesion</a>
        </div>
    </li>-->
    <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mi Orion</a>
                  <div class="dropdown-menu w-100 text-center" id="dropbarra">
                    <a class="dropdown-item" href="/perfil/">Perfil</a>
                    <a class="dropdown-item" href="#">Amigos</a>
                    <a class="dropdown-item" href="#">Opciones</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout/">Cerrar sesión</a>
                  </div>
  </nav>
</ul>
<!--termina la barra de navegación-->
</head>
<body>
<div class="card" style="margin-left:9%; margin-right:9%; margin-top:2%;">
  <div class="card-block">
    <h1>
        Texto de prueba
    </h1>
  </div>
</div>
