.nav-link{
  color: black;
}

button.btn.btn-primary.dropdown-toggle {
    width: 100%;
}
.btn-group {
    display: block;
}
.nav-link dropdown-toggle{

  margin-right: 10%;
}
#barranav
{
  margin-right: 2%;
}
#descrip
{
  margin-left: 50%;
  float: right;
  width: 20%;
}
.dropdown-toggle{

  margin-right: 10%;
}

#tarjeta
{
  margin-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
}
